* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f4f5f7;
  overflow-x:none;
}

header{
  background: #f72210;
}

img {
  width: 150px;
}

.cloud {
  font-size: 16px;
}

.subscribe{
  padding:5px;
  vertical-align: middle;
}

.nav-brand-big {
  width: 350px;
}

.bar {
  width: 10px;
}

.search-form {
  border: none;
  width: 85px;
  height: 20px;
  margin-top: 15px;
}

#extention::before {
  width: 70px;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

nav li {
  height: 60px;
  -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    margin-left: -10px;
}

nav li a {
   margin-top: 15px;
    border-left: 1px solid lightgrey;
    border-left-style: solid;
    font-size: 19px;
    line-height: 20px;
    font-weight: bold;
    font-family: "Roboto Condensed",sans-serif;
    color:black;
    padding-top: 5px;
}

nav li a:hover {
  color:red;
  text-decoration: none;
}

.us-a {
  border-left: none; 
}

.nav-item{
  margin:0;
  padding: 0;
}

.a {
  flex-grow: 1;
  text-align: center;
}